<!-- templates/home.html -->
{% extends "base.html" %}

<!-- Override the title block from base.html -->
{% block title %}{{ title }}{% endblock %}

<!-- Override the content block from base.html -->
{% block content %}
 
 
 <!-- NEW: 검색 결과 데이터 -->
    <div class="mb-8 bg-white p-6 rounded-lg shadow-lg">
        <form id="search-form" action="/search/" method="get">
            <div class="flex items-center space-x-4">
                <input type="number" id="search-input" name="key" placeholder="안건 번호로 결과 찾기 (e.g. 1104)" required
                       class="block w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                <button type="submit"
                        class="px-6 py-2 bg-gray-800 text-white font-semibold rounded-lg shadow-md hover:bg-gray-900 transition-colors whitespace-nowrap">
                    검색
                </button>
            </div>
        </form>
        
        <!-- Div to display search results -->
        {% for d in data %}
            <p class="mt-10 text-left text-gray-500">{% if d[0] == 'ver1' %}R1.0 {%else%}R2.0{%endif%}</p>
            {% if d[1] %}
            <div class="mb-8 bg-white p-6 rounded-lg">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <tbody>
                        {% for row in d[1] %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                            {% for i in range(row['cells']|length) %}
                            <td class="px-6 py-4" style="{{ row['styles'][i] }}">{{ row['cells'][i] }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <p class="text-center text-gray-500">{{key}} 안건번호 데이터 없음</p>
            {% endif %}
        {% endfor %}
    
    </div>
{% endblock %}


<!--
https://inpa.tistory.com/entry/CSS-%F0%9F%92%8D-%ED%85%8C%EC%9D%B4%EB%B8%94table-%EB%94%94%EC%9E%90%EC%9D%B8-%F0%9F%96%8C%EF%B8%8F-%EB%AA%A8%EC%9D%8C

        <p> search page 2 </p>
        <div id="search-results-container" class="mt-6 hidden">
            <h3 class="text-xl font-semibold mb-2">결과:</h3>
            <pre id="search-results" class="bg-gray-900 text-white p-4 rounded-lg text-sm overflow-x-auto"></pre>
        </div>

-->